@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Dancing Script',cursive; */
.heading {
    font-family: 'Dancing Script', cursive;

}

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}